USE [TESTE_ICARO]
GO
If Exists (Select 1 From Sysobjects Where Id = Object_Id('dbo.sp_Atualiza_Lote_Estoque'))
     Drop Procedure dbo.sp_Atualiza_Lote_Estoque
Go

Create Procedure [dbo].[sp_Atualiza_Lote_Estoque]
(
       @ID_PRODUTO INT
) As
Begin
     Set NoCount On;

		DECLARE
				@ID_ENTRADA INT,
				@NOVO_LOTE VARCHAR(20),
				@PRECO_UN_NOVO_LOTE NUMERIC(7,2),
				@ID_ENTRADA_ORIGEM INT
     

		--SELECIONA A ENTRADA DO PACOTE QUE SERÁ FECHADO
		SELECT @ID_ENTRADA = EE.ID_ENTRADA
		FROM ENTRADAS_ESTOQUE EE
		WHERE ID_PRODUTO = @ID_PRODUTO
			AND ABERTO = 1


		SET @ID_ENTRADA_ORIGEM = @ID_ENTRADA


		--FECHA O PACOTE ATUAL
		BEGIN
			UPDATE ENTRADAS_ESTOQUE
			SET ABERTO = 0,
				NUM_ITENS_ATUAL = 0
			WHERE ID_PRODUTO = @ID_PRODUTO
				AND ID_ENTRADA = @ID_ENTRADA
					AND ABERTO = 1
		END

		--SELECIONA A ENTRADA DO PACOTE QUE SERÁ ABERTO
		SELECT @ID_ENTRADA = EE.ID_ENTRADA,
			   @NOVO_LOTE = EE.LOTE,
			   @PRECO_UN_NOVO_LOTE = EE.PRECO_UN
		FROM ENTRADAS_ESTOQUE EE
		WHERE ID_PRODUTO = @ID_PRODUTO
			AND ABERTO = 0
			AND DT_ENTRADA = (SELECT TOP 1 MIN(DT_ENTRADA)
							  FROM ENTRADAS_ESTOQUE
							  WHERE ID_PRODUTO = @ID_PRODUTO
									AND ABERTO = 0
									AND NUM_ITENS_ATUAL > 0)

		--ABRINDO O NOVO PACOTE
		BEGIN
			UPDATE ENTRADAS_ESTOQUE
			SET ABERTO = 1
			WHERE ID_PRODUTO = @ID_PRODUTO
				AND ID_ENTRADA = @ID_ENTRADA
		END

		IF EXISTS(SELECT 1 FROM ENTRADAS_ESTOQUE WHERE ID_PRODUTO = @ID_PRODUTO AND ID_ENTRADA <> @ID_ENTRADA_ORIGEM)
		--ATUALIZANDO A TABELA DE ESTOQUE
		BEGIN
			UPDATE TOTAL_PRODUTOS_ESTOQUE
			SET PRECO_UND = @PRECO_UN_NOVO_LOTE,
				LOTE_ATUAL = @NOVO_LOTE
			WHERE ID_PRODUTO = @ID_PRODUTO

			BEGIN
				EXEC dbo.sp_Totaliza_Itens_Estoque @ID_PRODUTO
			END
		END


     Set NoCount Off;
End
